# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd
%config Completer.use_jedi = False

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("Orders.csv")

orders.drop('Unnamed: 0', axis=1, inplace=True)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
cust_spenditure =orders[['CustomerID','amount_spent', 'Country']].groupby(['CustomerID','Country']).sum('amount_spent')
cust_spenditure

                           amount_spent
CustomerID Country
12346      United Kingdom      77183.60
12347      Iceland              4310.00
12348      Finland              1797.24
12349      Italy                1757.55
12350      Norway                334.40
...                                 ...
18280      United Kingdom        180.60
18281      United Kingdom         80.82
18282      United Kingdom        178.05
18283      United Kingdom       2094.88
18287      United Kingdom       1837.28

[4347 rows x 1 columns]

In [4]:
prefered = cust_spenditure.amount_spent.quantile(.75)
vip = cust_spenditure.amount_spent.quantile(.95)

In [15]:
cust_spenditure['client_type']= cust_spenditure.amount_spent.apply(lambda x: 'vip' if x >= vip else ('pref' if x < vip and x >= prefered else 'reg'))

In [16]:
cust_spenditure.nlargest(10, 'amount_spent')

                           amount_spent client_type
CustomerID Country
14646      Netherlands        280206.02         vip
18102      United Kingdom     259657.30         vip
17450      United Kingdom     194550.79         vip
16446      United Kingdom     168472.50         vip
14911      EIRE               143825.06         vip
12415      Australia          124914.53         vip
14156      EIRE               117379.63         vip
17511      United Kingdom      91062.38         vip
16029      United Kingdom      81024.84         vip
12346      United Kingdom      77183.60         vip

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [27]:
cust_spenditure.reset_index(inplace=True)

In [43]:
cust_spenditure['cat'] = cust_spenditure['client_type'].astype('category')

In [55]:
cust_spenditure['cat'].value_counts()

reg     3260
pref     869
vip      218
Name: cat, dtype: int64

In [58]:
# your code here

paises = cust_spenditure[['client_type', 'Country', 'CustomerID']]
paises

     client_type         Country  CustomerID
0            vip  United Kingdom       12346
1           pref         Iceland       12347
2           pref         Finland       12348
3           pref           Italy       12349
4            reg          Norway       12350
...          ...             ...         ...
4342         reg  United Kingdom       18280
4343         reg  United Kingdom       18281
4344         reg  United Kingdom       18282
4345        pref  United Kingdom       18283
4346        pref  United Kingdom       18287

[4347 rows x 3 columns]

In [63]:
paises.pivot_table(index=["client_type", "Country"], values='CustomerID' aggfunc=np.sum)

                               CustomerID
client_type Country
pref        Australia        12414.333333
            Austria          12360.000000
            Belgium          12445.181818
            Canada           17444.000000
            Channel Islands  14933.000000
...                                   ...
vip         Singapore        12744.000000
            Spain            12548.500000
            Sweden           17404.000000
            Switzerland      12405.666667
            United Kingdom   15291.123596

[75 rows x 1 columns]

In [66]:
paises[paises.client_type == 'vip']['Country'].value_counts()

United Kingdom     178
Germany             11
France               9
Switzerland          3
Japan                2
EIRE                 2
Portugal             2
Spain                2
Sweden               1
Netherlands          1
Australia            1
Singapore            1
Denmark              1
Norway               1
Channel Islands      1
Cyprus               1
Finland              1
Name: Country, dtype: int64

In [70]:
table = pd.pivot_table(paises, columns='client_type',rows='Country', values='client_type', index='Country',

                    aggfunc=lambda x: len(x.unique())

table

SyntaxError: invalid syntax (<ipython-input-70-baf5635082a5>, line 5)