# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [28]:
#Problem 1. First let's see how many different Customer IDs are in the Data Frame. 
customers = orders.groupby(['CustomerID'])['amount_spent'].sum().sort_values(ascending = False)
customers

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
           ...
17956        12.75
16454         6.90
14792         6.20
16738         3.75
13256         0.00
Name: amount_spent, Length: 4339, dtype: float64

In [49]:
#Problem 2. Every customer who spents more than $5,840.18 is a VIP, and customers who spend between $1,661.64 and $5,840.18 are Preferred ones. 
quant_vip = customers.quantile(0.95)
quant_pref = customers.quantile(0.75)

orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    397924 non-null  int64
 1   InvoiceNo     397924 non-null  int64
 2   StockCode     397924 non-null  object
 3   year          397924 non-null  int64
 4   month         397924 non-null  int64
 5   day           397924 non-null  int64
 6   hour          397924 non-null  int64
 7   Description   397924 non-null  object
 8   Quantity      397924 non-null  int64
 9   InvoiceDate   397924 non-null  object
 10  UnitPrice     397924 non-null  float64
 11  CustomerID    397924 non-null  int64
 12  Country       397924 non-null  object
 13  amount_spent  397924 non-null  float64
dtypes: float64(2), int64(8), object(4)
memory usage: 42.5+ MB

In [67]:
#Problem 3. Now let's put a column to categorize them. 
orders['Type ID'] = np.where(orders.amount_spent >= quant_vip, 'VIP Customer', np.where((orders['amount_spent'] >= quant_pref) & (orders['amount_spent'] < quant_vip), 'Preferred Customer', 'Regular Customer'))

In [70]:
vip = orders[(orders['Type ID'] == 'VIP Customer')]
preferred = orders[(orders['Type ID'] == 'Preferred Customer')]
regular = orders[(orders['Type ID'] == 'Regular Customer')]

In [74]:
print('There are {} VIP clients, {} Preferred clients, and {} Regular clients.'.format(len(vip), len(preferred), len(regular)))

There are 7 VIP clients, 125 Preferred clients, and 397792 Regular clients.

In [7]:
#Problem 2. Let's check who's VIP.
customers.quantile(0.95)

0.95    5840.182
Name: amount_spent, dtype: float64

In [77]:
#Q2 / Q3

#In the Crosstab below you can see that the most Preferred Clients are located in the United Kingdom, and all the VIPs are located in the same country, so yeah.

pd.crosstab(index = orders.Country, columns = orders['Type ID'])

Type ID               Preferred Customer  Regular Customer  VIP Customer
Country
Australia                              1              1184             0
Austria                                0               398             0
Bahrain                                0                17             0
Belgium                                0              2031             0
Brazil                                 0                32             0
Canada                                 0               151             0
Channel Islands                        0               748             0
Cyprus                                 0               614             0
Czech Republic                         0                25             0
Denmark                                0               380             0
EIRE                                   4              7234             0
European Community                     0                60             0
Finland                                0               685             0
France                                 2              8340             0
Germany                                0              9042             0
Greece                                 0               145             0
Iceland                                0               182             0
Israel                                 0               248             0
Italy                                  0               758             0
Japan                                  3               318             0
Lebanon                                0                45             0
Lithuania                              0                35             0
Malta                                  0               112             0
Netherlands                            2              2361             0
Norway                                 0              1072             0
Poland                                 0               330             0
Portugal                               0              1462             0
RSA                                    0                58             0
Saudi Arabia                           0                 9             0
Singapore                              4               218             0
Spain                                  0              2485             0
Sweden                                 0               451             0
Switzerland                            0              1842             0
USA                                    0               179             0
United Arab Emirates                   0                68             0
United Kingdom                       109            354229             7
Unspecified                            0               244             0

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [ ]:
# your code here