# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [98]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [99]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12.0,3.0,8.0,white hanging heart t-light holder,6.0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,1,536365,71053,2010,12.0,3.0,8.0,white metal lantern,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,2,536365,84406B,2010,12.0,3.0,8.0,cream cupid hearts coat hanger,8.0,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,3,536365,84029G,2010,12.0,3.0,8.0,knitted union flag hot water bottle,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,4,536365,84029E,2010,12.0,3.0,8.0,red woolly hottie white heart.,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [102]:
# your code here
orders2 = orders[['CustomerID','amount_spent']].groupby('CustomerID').agg({'amount_spent': 'sum'}).sort_values('amount_spent', ascending=False)
orders2

            amount_spent
CustomerID
15061.0          9407.34
13777.0          6585.16
17850.0          5391.21
16210.0          4738.54
16029.0          4271.52
...                  ...
14865.0            37.20
14576.0            35.40
17026.0            33.15
15356.0            20.65
15823.0            15.00

[356 rows x 1 columns]

In [103]:
orders2['5_percent_quantiles']=pd.qcut(orders2['amount_spent'],20,labels=False)
orders2

            amount_spent  5_percent_quantiles
CustomerID
15061.0          9407.34                   19
13777.0          6585.16                   19
17850.0          5391.21                   19
16210.0          4738.54                   19
16029.0          4271.52                   19
...                  ...                  ...
14865.0            37.20                    0
14576.0            35.40                    0
17026.0            33.15                    0
15356.0            20.65                    0
15823.0            15.00                    0

[356 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [104]:
# your code here
#VIP: top 5%
#Preferred: top 75-95%
orders2['VIP']= np.where(orders2['5_percent_quantiles']>=19,1,0)
orders2

            amount_spent  5_percent_quantiles  VIP
CustomerID
15061.0          9407.34                   19    1
13777.0          6585.16                   19    1
17850.0          5391.21                   19    1
16210.0          4738.54                   19    1
16029.0          4271.52                   19    1
...                  ...                  ...  ...
14865.0            37.20                    0    0
14576.0            35.40                    0    0
17026.0            33.15                    0    0
15356.0            20.65                    0    0
15823.0            15.00                    0    0

[356 rows x 3 columns]

In [105]:
orders2['Preferred']= np.where(((orders2['5_percent_quantiles']>=15) & (orders2['5_percent_quantiles']<19)),1,0)

In [114]:
orders2

            amount_spent  5_percent_quantiles  VIP  Preferred
CustomerID
15061.0          9407.34                   19    1          0
13777.0          6585.16                   19    1          0
17850.0          5391.21                   19    1          0
16210.0          4738.54                   19    1          0
16029.0          4271.52                   19    1          0
...                  ...                  ...  ...        ...
14865.0            37.20                    0    0          0
14576.0            35.40                    0    0          0
17026.0            33.15                    0    0          0
15356.0            20.65                    0    0          0
15823.0            15.00                    0    0          0

[356 rows x 4 columns]

In [107]:
result = pd.merge(orders, orders2, how='left', on = 'CustomerID')

In [109]:
result.head(2)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent_x,amount_spent_y,5_percent_quantiles,VIP,Preferred
0,0,536365,85123A,2010,12.0,3.0,8.0,white hanging heart t-light holder,6.0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,5391.21,19.0,1.0,0.0
1,1,536365,71053,2010,12.0,3.0,8.0,white metal lantern,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,5391.21,19.0,1.0,0.0

In [115]:
result.groupby(by='Country').sum('VIP').sort_values('VIP', ascending=False)

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,CustomerID,amount_spent_x,amount_spent_y,5_percent_quantiles,VIP,Preferred
Country,,,,,,,,,,,,,,
United Kingdom,53735123,4561113687,17074950,101940.0,36601.0,108356.0,85896.0,25574.12,134110754.0,156920.61,6629687.08,100354.0,678.0,2600.0
EIRE,973215,70885505,265320,1584.0,473.0,1790.0,3238.0,657.45,1965987.0,3788.23,448084.47,2484.0,129.0,0.0
Norway,92856,39166836,146730,876.0,219.0,949.0,1852.0,102.67,907609.0,1919.14,140097.22,1387.0,73.0,0.0
Germany,1489716,96677211,361800,2160.0,1041.0,2479.0,1926.0,625.57,2266771.0,3645.49,148609.68,2386.0,70.0,30.0
Australia,2849,7509446,28140,168.0,42.0,140.0,107.0,73.90,174034.0,358.25,5015.50,182.0,0.0,0.0
Belgium,87414,6444312,24120,144.0,60.0,192.0,528.0,37.41,148740.0,346.10,4153.20,144.0,0.0,0.0
France,643277,56912043,213060,1272.0,616.0,1124.0,1299.0,432.36,1335095.0,2808.16,119316.98,1657.0,0.0,83.0
Italy,173412,12888528,48240,288.0,120.0,360.0,164.0,98.50,305400.0,427.80,10267.20,336.0,0.0,0.0
Japan,156648,8595488,32160,192.0,112.0,240.0,196.0,28.99,204208.0,320.08,5121.28,176.0,0.0,0.0
Lithuania,272085,18260803,68340,408.0,238.0,408.0,622.0,97.34,521288.0,1598.06,54334.04,612.0,0.0,34.0
Netherlands,771,1072806,4020,24.0,6.0,22.0,97.0,16.85,25582.0,192.60,385.20,10.0,0.0,0.0
Poland,52892,4295768,16080,96.0,40.0,104.0,140.0,18.99,102232.0,248.16,1985.28,56.0,0.0,0.0
Portugal,130291,7519652,28140,168.0,42.0,175.0,118.0,78.50,179207.0,261.20,1828.40,35.0,0.0,0.0
Spain,32115,2684720,10050,60.0,25.0,60.0,400.0,7.85,62785.0,620.00,3100.00,85.0,0.0,5.0
Switzerland,31935,3221148,12060,72.0,30.0,60.0,110.0,55.45,81120.0,303.40,1820.40,60.0,0.0,0.0