# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv('C:/Users/rsher/lab-subsetting-and-descriptive-stats/your-code/Orders.zip', compression = 'zip')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [39]:
# your code here
col_names=['CustomerID','Total Amount']
TotalAmount = orders.groupby(['CustomerID'])['amount_spent'].sum().sort_values(ascending = False)
TotalAmount

CustomerID
14646    280206.02
18102    259657.30
17450    194550.79
16446    168472.50
14911    143825.06
           ...
17956        12.75
16454         6.90
14792         6.20
16738         3.75
13256         0.00
Name: amount_spent, Length: 4339, dtype: float64

In [40]:
TotalAmount.quantile([0.25, 0.50, 0.75])

0.25     307.245
0.50     674.450
0.75    1661.640
Name: amount_spent, dtype: float64

In [95]:
TotalAmount['TypeClients'] = np.where(TotalAmount['amount_spent'] >= 1661.195,'VIP',
                                      np.where(TotalAmount['amount_spent'] >= 674.450, 'Preferred', 'Regular'))
TotalAmount.head(10)

                           amount_spent TypeClients
CustomerID Country
14646      Netherlands        280206.02         VIP
18102      United Kingdom     259657.30         VIP
17450      United Kingdom     194550.79         VIP
16446      United Kingdom     168472.50         VIP
14911      EIRE               143825.06         VIP
12415      Australia          124914.53         VIP
14156      EIRE               117379.63         VIP
17511      United Kingdom      91062.38         VIP
16029      United Kingdom      81024.84         VIP
12346      United Kingdom      77183.60         VIP

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [92]:
# your code here
#Q2 = np.where(TotalAmount['TypeClients'], TotalAmount.groupby(['Country'])['TypeClients'].count(), 0 )
Q2 = TotalAmount[TotalAmount['TypeClients']=='VIP']
Q2
Q2.groupby(['Country'])['TypeClients'].count().sort_values(ascending = False)
#TotalAmount['TypeClients'] = np.where(TotalAmount['amount_spent'] >= 1661.195,'VIP',
                                      #np.where(TotalAmount['amount_spent'] >= 674.450, 'Preferred', 'Regular'))

Country
United Kingdom     934
Germany             39
France              29
Belgium             11
Switzerland          9
Spain                7
Portugal             7
Norway               7
Italy                5
Finland              5
Channel Islands      4
Australia            4
Japan                4
EIRE                 3
Denmark              3
Cyprus               3
Sweden               2
Israel               2
Lebanon              1
Iceland              1
Greece               1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Austria              1
Name: TypeClients, dtype: int64

In [94]:
Q3 = TotalAmount[TotalAmount['TypeClients']!='Regular']
Q3
Q3.groupby(['Country'])['TypeClients'].count().sort_values(ascending = False)

Country
United Kingdom          1907
Germany                   61
France                    50
Belgium                   18
Spain                     18
Switzerland               16
Portugal                  10
Italy                      8
Channel Islands            8
Norway                     7
Austria                    6
Denmark                    6
Finland                    6
Australia                  6
Japan                      5
Netherlands                4
Sweden                     4
Cyprus                     3
Greece                     3
Poland                     3
EIRE                       3
Malta                      2
Israel                     2
United Arab Emirates       2
USA                        2
Lithuania                  1
Brazil                     1
Canada                     1
European Community         1
Czech Republic             1
Singapore                  1
Lebanon                    1
RSA                        1
Iceland                    1
Unspecified                1
Name: TypeClients, dtype: int64