# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [122]:
# import libraries
import pandas as pd
import numpy as np
import re

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [123]:
# import data set
pokemon = pd.read_csv('Pokemon.csv')

### Print first 10 rows of `pokemon`

In [124]:
# enter your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [125]:
# enter your code here
type_1 = pd.unique(pokemon['Type 1'])
type_2 = pd.unique(pokemon['Type 2'])

dist_values = []

for i in type_1:
    for a in type_2:
        if i == a:
            dist_values.append(i)
dist_values

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [126]:
# enter your code here
txt = (r'^\w+(Mega)') # Buscamos con RegEx el texto a sustituir
pokemon['Name'] =pokemon['Name'].str.replace(txt,'Mega',regex=True)

# test transformed data

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [127]:
# enter your code here
pokemon['A/D Ratio'] = round(pokemon['Attack']/pokemon['Defense'],2)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21

### Identify the pokemon with the highest `A/D Ratio`

In [128]:
# enter your code here
maximo = max(pokemon['A/D Ratio'])
max_ad_ratio = pokemon[pokemon['A/D Ratio']==maximo]
max_ad_ratio

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

### Identify the pokemon with the lowest A/D Ratio

In [129]:
# enter your code here
minimo = min(pokemon['A/D Ratio'])
min_ad_ratio = pokemon[pokemon['A/D Ratio']==minimo]
min_ad_ratio

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.04

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [130]:
# enter your code here
#def concat(*args):
#    strs = [str(arg) for arg in args if not pd.isnull(arg)]
#    return ', '.join(strs) if strs else np.nan

#np_concat = np.vectorize(concat)

pokemon['Type 1'] = pokemon['Type 1'].fillna(' ')       
pokemon['Type 2'] = pokemon['Type 2'].fillna(' ')

pokemon['Combo Type'] = pokemon['Type 1']+ ', ' +pokemon['Type 2']
pokemon.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00,"Grass, Poison"
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98,"Grass, Poison"
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99,"Grass, Poison"
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81,"Grass, Poison"
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.21,"Fire,"
5,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False,1.10,"Fire,"
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.08,"Fire, Flying"
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.17,"Fire, Dragon"
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.33,"Fire, Flying"
9,7,Squirtle,Water,,314,44,48,65,50,64,43,1,False,0.74,"Water,"
10,8,Wartortle,Water,,405,59,63,80,65,80,58,1,False,0.79,"Water,"
11,9,Blastoise,Water,,530,79,83,100,85,105,78,1,False,0.83,"Water,"
12,9,Mega Blastoise,Water,,630,79,103,120,135,115,78,1,False,0.86,"Water,"
13,10,Caterpie,Bug,,195,45,30,35,20,20,45,1,False,0.86,"Bug,"
14,11,Metapod,Bug,,205,50,20,55,25,25,30,1,False,0.36,"Bug,"
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,0.90,"Bug, Flying"
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,1.17,"Bug, Poison"
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,0.50,"Bug, Poison"
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,2.25,"Bug, Poison"
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75,"Bug, Poison"

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [131]:
# enter your code here
top_5 = pokemon.nlargest(5,'A/D Ratio')
top_5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.00,"Psychic,"
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.50,"Water, Dark"
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75,"Bug, Poison"
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.12,"Rock,"
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.00,"Water, Dark"

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [132]:
# enter your code here
combo_top5 = pd.unique(top_5['Combo Type'])
print(combo_top5)

['Psychic,  ' 'Water, Dark' 'Bug, Poison' 'Rock,  ']

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [151]:
# enter your code here
pokemon_top5_mean = pokemon.groupby('Combo Type').agg('mean')
pokemon_top5_mean[pokemon_top5_mean.index.isin(combo_top5)]

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
"Bug, Poison",199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315833
"Psychic,",381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164211
"Rock,",410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.258889
"Water, Dark",347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291667