# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
# enter your code here
orders = pd.read_csv(r"C:\Users\floral02\Documents\lab-df-calculation-and-transformation\your-code\Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [6]:
# your code here
client_sum = orders.groupby(['CustomerID'])['amount_spent'].agg(['sum'])
P95 = np.percentile(client_sum['sum'],95)
P75 = np.percentile(client_sum['sum'],75)

conditions=[(client_sum['sum'] >= P95),(client_sum['sum'] >= P75)]

client = ['VIP','Preferred']

client_sum['Type'] = np.select(conditions,client, default = 'Normal')
client_sum

                 sum       Type
CustomerID
12346       77183.60        VIP
12347        4310.00  Preferred
12348        1797.24  Preferred
12349        1757.55  Preferred
12350         334.40     Normal
...              ...        ...
18280         180.60     Normal
18281          80.82     Normal
18282         178.05     Normal
18283        2094.88  Preferred
18287        1837.28  Preferred

[4339 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [9]:
# your code here
client_sum2 = client_sum.merge(orders,how='left', left_index=True, right_on='CustomerID')
client_sum2
count_VIP = client_sum2[client_sum2['Type']=='VIP'].groupby(['Country'])['CustomerID'].agg(['nunique'])
count_VIP.sort_values('nunique',ascending=False)

                 nunique
Country
United Kingdom       177
Germany               10
France                 9
Switzerland            3
Spain                  2
Portugal               2
Australia              2
EIRE                   2
Japan                  2
Finland                1
Belgium                1
Netherlands            1
Norway                 1
Denmark                1
Singapore              1
Cyprus                 1
Sweden                 1
Channel Islands        1

In [10]:
count_VIP_Pref = client_sum2[(client_sum2['Type']=='VIP') | (client_sum2['Type']=='Preferred')].groupby(['Country'])['CustomerID'].agg(['nunique'])
count_VIP_Pref.sort_values('nunique', ascending = False)

                 nunique
Country
United Kingdom       932
Germany               39
France                29
Belgium               12
Switzerland            9
Spain                  9
Portugal               7
Norway                 7
Italy                  5
Finland                5
Japan                  4
Australia              4
Cyprus                 4
Channel Islands        4
Austria                3
EIRE                   3
Denmark                3
Sweden                 2
Israel                 2
Iceland                1
Greece                 1
Lebanon                1
Malta                  1
Netherlands            1
Poland                 1
Singapore              1
Canada                 1